{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<table>
    <caption>History</caption>
    <thead>
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row["companyName"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["transacted"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}